<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 📌 Разрешения -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.BIND_FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>

    <application
        android:usesCleartextTraffic="true"
        tools:remove="android:networkSecurityConfig"

        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VPNapp"
        tools:targetApi="31"

        tools:replace="android:fullBackupContent"
        >



        <activity android:name=".ServerSelectionActivity" />
        <activity android:name=".SpeedTestActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".SubscriptionActivity" />
        <activity android:name=".HelpActivity" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.VPNapp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- ✅ WireGuard VPN-сервис -->
        <service
            android:name=".WireGuardVpnService"
            android:permission="android.permission.BIND_VPN_SERVICE"
            android:exported="false"
            android:foregroundServiceType="connectedDevice">
            <intent-filter>
                <action android:name="android.net.VpnService"/>
            </intent-filter>
        </service>

    </application>

</manifest>
